<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">BPM</a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li id="dashboard"><a href="#dashboard">Dashboard</a></li>
                <li id="configuration"><a href="#configuration">Configuration</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a id="username"></a></li>
                <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>