<div class="panel-body">

    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="row form-group">
                    <label for="sourceLanguage" class="col-md-4 control-label">Source Language</label>

                    <div class="col-md-7">
                        <div class="form-control-static" id="sourceLanguage"></div>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="sourceFiles" class="col-md-4 control-label">Source File(s)</label>

                    <div id="sourceFiles" class="col-md-7 ">
                        <div id="sourceFileCollection" class="col-md-12 form-control-static"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="row form-group">
                    <label for="targetLanguages" class="col-md-4 control-label">Target Language(s)</label>

                    <div class="col-md-7">
                        <div class="form-control-static" id="targetLanguages"></div>
                    </div>
                </div>
                <div class="row form-group">
                    <label for="targetFiles" class="col-md-4 control-label">Target File(s)</label>

                    <div id="targetFiles" class="col-md-7 ">
                        <div id="targetFileDropZone"></div>
                        <div id="targetFileCollection" class="col-md-12 form-control-static"></div>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12 col-md-pull-1 text-right">
                        <div id="uploadBtn"class="btn btn-success hidden">Upload</div>
                        <div id="finishBtn"class="btn btn-success">Finish</div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

