<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div data-id class="col-md-1 form-control-static"></div>
            <div data-name class="col-md-2 form-control-static"></div>
            <div data-description class="col-md-5 form-control-static"></div>
            <div data-status class="col-md-2"></div>
            <div class="col-md-2">
                <button data-show-detail type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-cog" title="details" aria-hidden="true"></span>
                    Details
                </button>
            </div>
        </div>
    </div>
    <div data-job-detail></div>
</div>

