<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">New User</h3>
    </div>
    <div class="panel-body">
        <div class="form-group has-feedback">
            <label for="firstName" class="control-label">First Name</label>
            <input type="text" id="firstName" class="form-control" maxlength="49">
            <span class="glyphicon glyphicon-pencil form-control-feedback" aria-hidden="true"></span>
            <span class="help-block hidden"></span>
            <span class="sr-only">first name</span>
        </div>
        <div class="form-group has-feedback">
            <label for="lastName" class="control-label">Last Name</label>
            <input type="text" id="lastName" class="form-control" maxlength="49">
            <span class="glyphicon glyphicon-pencil form-control-feedback" aria-hidden="true"></span>
            <span class="help-block hidden"></span>
            <span class="sr-only">last name</span>
        </div>
        <div class="form-group has-feedback">
            <label for="username" class="control-label">Username</label>
            <input type="text" id="username" class="form-control" maxlength="49">
            <span class="glyphicon glyphicon-pencil form-control-feedback" aria-hidden="true"></span>
            <span class="help-block hidden"></span>
            <span class="sr-only">username</span>
        </div>
        <div class="form-group has-feedback">
            <label for="email" class="control-label">Email</label>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="email" id="email" class="form-control" maxlength="49">
            </div>
            <span class="glyphicon glyphicon-pencil form-control-feedback" aria-hidden="true"></span>
            <span class="help-block hidden"></span>
            <span class="sr-only">email</span>
        </div>
        <div class="form-group has-feedback">
            <label for="authorities" class="control-label">Role</label>
            <select id="authorities" class="form-control" multiple></select>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <span class="help-block hidden"></span>
            <span class="sr-only">authorities</span>
        </div>
        <div class="form-group has-feedback">
            <label for="password" class="control-label">Password</label>
            <input type="password" id="password" class="form-control" maxlength="49">
            <span class="glyphicon glyphicon-pencil form-control-feedback" aria-hidden="true"></span>
            <span class="help-block hidden"></span>
            <span class="sr-only">pass</span>
        </div>
        <div class="form-group has-feedback">
            <label for="confirmPassword" class="control-label">Confirm Password</label>
            <input type="password" id="confirmPassword" class="form-control" maxlength="49">
            <span class="glyphicon glyphicon-pencil form-control-feedback" aria-hidden="true"></span>
            <span class="help-block hidden"></span>
            <span class="sr-only">pass</span>
        </div>
        <div class="form-group">
            <div class="text-right">
                <input type="submit" value="Create" id="submitBtn" class="btn btn-success">
                <input type="button" value="Cancel" id="cancelBtn" class="btn btn-default">
            </div>
        </div>
    </div>
</div>

